/*Game Design*/

.Blocked{
    display: block;
}

.Flexed{
    display: flex;
}

body{
    background-color:rgb(3, 115, 180);
}

.Clicker{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: content-box;
    background-color: rgba(233, 0, 0, 0.815);
    border-color: rgb(0,0,0,0);
    width: 60px;
    height: 20px;
} 

.ProductionScreen{
    max-width: 500px;
    min-height: 400px;
    background-color: black;
    padding: 15px;
    position: relative;
    margin-left: 100px;
    border-radius: 50px;
    color: white;
}

.title{
    position: absolute;
    margin-left: 160px;
    margin-top: -10px;
}

.DarkAgent{
    position: relative;
    margin-top: 40px;
    margin-left: 10px;
    box-sizing: content-box;
    background-color: rgb(54, 54, 54);
    border-color: rgba(0, 0, 0, 0);
}